/*mobile first --> 1 kolom 12 baris*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 150px);
    gap: 10px;
}

.box {
    border: 1px solid black;
    background-color: rgb(175, 121, 121);
}

/*tablet*/
@media screen and (min-width:760px) {
    .container {
        grid-template-columns: repeat(2, 1fr);        
    }

    .box {
        background-color: antiquewhite;
    }
}

/*PC*/
@media screen and (min-width:1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .box {
        background-color: rgb(138, 199, 236);
    }
}